/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #41d6d4d5;
    color: #333;
    margin-left: 20px;
    padding: 20px;
}

h1 {
    color: #455756;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

input {
    height: 40px;
    width: 40px;
}

.class_table_title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
}

.div_GEN_form {
    /*Full height and full width*/
    width: 100%;    
    height: 100%;
    /*Keep body dimensions*/
    position: fixed;    
    /*background-color: rgba(1, 1, 1, 0.95); /*Color de fondo, incluye opacidad del 90%*/
    top: 0;
    left: 0;
    /*Avoid elements of overlapsing modal window*/
    z-index: 1001;    
}

.form_content {
    background: rgba(217, 213, 213, 0.95);
    position: absolute;
    z-index: 20;
    border-radius: 5px;
    width: 60%;
    height: 78.5%;
    margin-top: 6%;
    margin-left: 19%;
    border: 1px;
    border-style: solid;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.form {
    top: 20px;
    position: relative;
    left: 20px;
}

.class_form_title{
    position: relative;
    height: 100px;
    width: 100%;

    background: #539695;
    color: #333;
}

.class_title_content_form{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
}

#name_title {
    margin-right: 150px;
}

/* img tam */
#ADD_img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

#BACK_img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

/* div title */
#div_title_page {
    background-color: #816352;
    height: 100px;
    width: calc(100% + 40px);
    /* width + body padding */
    margin-top: 40px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 20px;
    text-align: center;
}

/* table titles */
#title {
    margin: 0;
    font-size: 70px;
    text-shadow: 2px 2px 5px #41d6d4d5, -2px -2px 5px #41d6d4d5;
    font-weight: bold;
    text-align: center;
}