body {
    font-family: Arial, sans-serif;
    background-color: #41d6d4d5;
    color: #333;
    margin-left: 20px;
    padding: 20px;
}

h1 {
    color: #455756;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

input {
    height: 40px;
    width: 40px;
}

.radio_label {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Ajusta el espacio entre los botones */
    cursor: pointer;
}

.radio_input {
    display: none; /* Oculta el input del radio button */
}

.radio_image {
    width: 50px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 50px; /* Ajusta la altura de la imagen según tus necesidades */
    margin-right: 10px;
    border: 2px solid transparent; /* Agrega un borde transparente */
    cursor: pointer;
}

.radio_input:checked + .radio_image {
    border: 2px solid #333; /* Color del borde cuando está seleccionado */
    border-radius: 5px; /* Opcional: para redondear el borde */
}

#type_radio_container {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
}

.div_GEN_form {
    /* Full height and full width */
    width: 100%;
    height: 100%;
    /* Keep body dimensions */
    position: fixed;
    /* background-color: rgba(1, 1, 1, 0.95);*/
    top: 0;
    left: 0;
    /* Avoid elements of overlapsing modal window */
    z-index: 1001;
    display: none;
}

.form_content {
    background: rgba(217, 213, 213, 0.95);
    position: absolute;
    z-index: 20;
    border-radius: 5px;
    width: 60%;
    height: 78.5%;
    margin-top: 6%;
    margin-left: 19%;
    border: 1px;
    border-style: solid;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.form {
    top: 20px;
    position: relative;
    left: 20px;
}

.class_form_title {
    position: relative;
    height: 100px;
    width: 100%;
    background: #539695;
    color: #333;
}

.class_title_content_form {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#name_title {
    margin-right: 150px;
}

/* img tam */
#ADD_img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.BACK_img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.ADD_img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

/* div title */
#div_title_page {
    background-color: #816352;
    height: 100px;
    width: calc(100% + 40px);
    /* width + body padding */
    margin-top: 40px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 20px;
    text-align: center;
}

#id_data_table_container {
    display: grid;
    grid-template-columns: 1fr; /* Una columna para los títulos y otra para los datos */
    gap: 10px;
}

/* Estilo para las filas de datos */
.class_table_title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: calc(20% - 10px); /* Ajusta según el número de columnas */
    padding: 10px;
    text-align: center;
}

#div_table_titles {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Asegura que hay 5 columnas de igual tamaño */
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

/* Estilo para las filas de datos */
.data_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Asegura que hay 5 columnas */
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.data_cell {
    text-align: center; /* Para alinear el texto en el centro */
    overflow-wrap: break-word; /* Permite el ajuste del contenido de texto */
    word-wrap: break-word; /* Compatibilidad con navegadores antiguos */
    overflow: hidden;
    position: relative; /* Asegura que los elementos hijos puedan posicionarse relativamente */
}

.data_cell .delete_button {
    position: absolute;
    right: 10px; /* Ajusta este valor según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.data_cell img.table_image {
    width: 30px; /* Ajusta este tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* table titles */
#title {
    margin: 0;
    font-size: 70px;
    text-shadow: 2px 2px 5px #41d6d4d5, -2px -2px 5px #41d6d4d5;
    font-weight: bold;
    text-align: center;
}

/* Estilo para agrandar el campo "Name" */
.name_input {
    width: 300px; /* Ajusta el tamaño según tus necesidades */
    height: 30px; /* Ajusta la altura según tus necesidades */
    font-size: 16px;
}

/* Estilo para el textarea de "Comments" */
textarea {
    width: 500px; /* Ajusta el tamaño según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    font-size: 16px;
    resize: none; /* Evita que el usuario cambie el tamaño */
}

/* Estilo para el campo de tipo "Date" */
input[type="date"] {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: 30px; /* Ajusta la altura según tus necesidades */
    font-size: 16px;
}